.contenedor {
  display: flex;
  flex-wrap: wrap;
  background-color: aquamarine;
}

.contenedor > p {
  background-color: #ff8484;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}
