.main{
    display: grid;
    height: 500px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: tomato;
    grid-template-areas: "izquierda navegador navegador navegador derecha"
                         "izquierda principal principal principal derecha"
                         "izquierda principal principal principal derecha"
                         "footer footer footer footer derecha";
}

.navegador{
    grid-area: navegador;
    background-color: blue;
}

.aside-left{
    grid-area: izquierda;
    background-color: black;
}

.principal{
    grid-area: principal;
    background-color: white;
}
.aside-rigth{
    grid-area: derecha;
    background-color: yellow;
}

.footer{
    grid-area: footer;
    background-color: turquoise;
}
