.navegacion{
    border: 2px solid green;
    display: flex;
    flex-flow: row;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
#i1{
    order: 1;
    align-self: center;
}
#i2{
    order: 2;
    align-self: flex-end;
}
#i3{
    order: 3;
}
#i4{
    order: 4;
}

#imagen{
background-color: black;

}

#imagen2{
    border: 1px solid lightgreen;
    padding: 10px;
    align-self: flex-end;
}

.articulo{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.DESCRIPTION{
    border: 2px solid rebeccapurple;
    display: flex;
    flex-direction: column;
}
.MAIN{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.RELATED{
    border: 2px solid springgreen;
    display: flex;
    flex-direction: column;
}